grpcio>=1.37.1
protobuf==3.16.0
grpcio-tools>=1.37.1
grpcio-reflection>=1.37.1
click>=8.0.1

flake8>=3.9.2
pylint>=2.8.2

importlib-metadata>=4.0.1
wheel>=0.36.2
twine>=3.4.1

sphinx>=4.0.2
sphinxcontrib-applehelp>=1.0.2
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=1.0.3
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.3
sphinxcontrib-serializinghtml>=1.1.4
Pallets-Sphinx-Themes>=1.2.3